.container{
    background-image: url(./bosh\ img.jpg);
}
.button button{
    color: white;
    background-color: #886239;
}
.afrika li{
    margin-left: 130px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #fff;
}
.line2{
    height: 1px;
    width: 100%;
    background-color: #fff;
}
.box .mesta{
    font-size: 25px;
    margin-top: 400px;
}
.box button{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #886239;
}
.cafari h1{   
    font-size: 80px;
}
.img2 img{
    margin-left: 50%;
}
.container2{
    background-color: white;
}
.boh{
    margin-left: 230px;
    width: 256px;
    height: 160px;
}
.bag{
    width: 256px;
    height: 160px;
}
.boq{
    width: 256px;
    height: 160px;
}
.bor{
    width: 256px;
    height: 160px;
}
.boj{
    margin-left: 230px;
    width: 256px;
    height: 160px;
}
.bot{
    width: 256px;
    height: 160px;
}
.boy{
    width: 256px;
    height: 160px;
}
.bop{
    width: 256px;
    height: 160px;
}
.bop{
    width: 256px;
    height: 160px;
}
.bol{
    margin-left: 230px;
    width: 256px;
    height: 160px;
}
.bob{
    width: 256px;
    height: 160px;
}
.bos{
    width: 256px;
    height: 160px;
}
.daraxt{ 
    background-image: url(./Rectangle\ 25.jpg);
}
.safari .chitat{
    margin-top: 50px;
    margin-left: 230px;
    color: var(--, #C4C4C4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
.container6{
    margin-left: 50px;
    width: 1420px;
    height: 650px;
    margin-top: 50px;
    background-color: #886239;
}
.container6 .iki{
    margin-left: 1200px;
}
.images img{
    margin-left: 90px;
}
.rasmlar img{
    margin-top: 30px;
    margin-left: 90px;
}
.lines{
    height: 1px;
    width: 100%;
    background-color: #000;
}